html {
  box-sizing: border-box;
  background-color: rgb(0, 40, 56);
}

*, *:before, *:after {
box-sizing: inherit;
}

h1, h2 {
  margin-top: 0;
}

p {
  font-size: 1.5rem;
}

body {
  display: grid;
  grid-template-columns: [left-gutter] 10% [main] 80% [right-gutter] 10%;
  grid-template-rows: auto;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem
}

nav button {
  background-color: lightgoldenrodyellow;
  border: 0px;
  height: 50px;
  font-size: 2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

nav button:hover {
  background-color: rgb(253, 240, 220);
}

nav button:disabled {
  background-color: rgb(159, 218, 255);
  font-weight: bold;
  color: black;
}
header {
  grid-column-start: main;

}

#content {
  grid-column-start: main;
  display: grid; 
  grid-template-columns: 1fr;
  background-color:  rgb(159, 218, 255);
  padding: 2rem;
}

#menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.menu-row {
  display: grid;
  grid-template-columns: 25rem 25rem;
  column-gap: 3rem;
  row-gap: 1rem;
}
