html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

h1, h2 {
  margin-top: 0;
}

body {
  display: grid;
  grid-template-columns: [left-gutter] clamp(2rem, 20rem, 20rem) [main] clamp(1fr, 100rem, 100rem) [right-gutter] clamp(2rem, 20rem, 20rem);
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem
}

nav button {
  background-color: lightgoldenrodyellow;
  border: 0px;
  height: 50px;
  font-size: 1.5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

nav button:hover {
  background-color: rgb(250, 234, 210);
}

nav button:disabled {
  background-color: rgba(135, 206, 250, 0.479);
  font-weight: bold;
  color: black;
}
header {
  grid-column-start: main;

}

#content {
  grid-column-start: main;
  display: grid; 
  grid-template-columns: 1fr;
  justify-content: center;
  background-color:  rgba(135, 206, 250, 0.479);
}

#menu {
  width: max(50%, 25rem);
  padding: 2rem 2rem;
  outline: 2px solid gold;
}

.menu-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
}
